PORT=4000
CLIENT_URL="http://localhost:3000"
DATABASE_URL="mysql://username:@url/dbname"
BETTER_AUTH_URL="http://localhost:3000"
BETTER_AUTH_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
SHOP_TIMEZONE="America/New_York"